body {
    font-family: 'Arial', sans-serif;
    background-image: url('startmenu.webp');
    background-size: cover; 
    background-position: center;  
    background-attachment: fixed; 
    color: white;  
    margin: 0;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    text-align: center;
}

h1, p {
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
    color: white;  
    background-color: #4CAF50;  
    padding: 10px 20px;
    border-radius: 15px; 
    transition: background-color 0.3s; 
    margin: 10px;  
    width: fit-content;
    display: inline-block; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    line-height: 1.5; 
    margin: 10px auto; 
    display: inline-block; 
}

button:hover {
    background-color: #45a049;
}
